<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/public/images/favicon.png" />

  <!-- header/footer jquery -->
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript">   
    $(document).ready( function() {
      $("#headers").load("/public/static/header.html");  
    });
    $(document).ready( function() {
      $("#footers").load("/public/static/footer.html");  
    });
  </script>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.css">
  <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Text&display=swap" rel="stylesheet"> 
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet"> 
  <link rel="stylesheet" href="/public/css/member.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script defer type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script defer src="/public/js/login.js"> </script>
  <title>Palette.</title>
</head>
<body>
  <section>
    <div id="headers"></div>
  </section>

  <section>
    <div class="container">
      <div class="inner">
    
        <div class="finfPwTitle">
         <h2>비밀번호 찾기</h2>
        </div>
    
        <div class="findInfo">
         <input class ="userId" type="text" placeholder="아이디(이메일)"> <br>
         <input class ="userName" type="text" placeholder="이름"><br>
        </div>
    
        <div class="findPwBt">
         <button>임시 비밀번호 발송</button>
        </div>

      </div>
      </div>
  </section>

  <section>
    <div id="footers"></div>
  </section>

</body>
</html>