<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Palette.</title>
  <link rel="icon" href="/frontend/favicon.png" />

  <!-- header/footer jquery -->
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript">   
    $(document).ready( function() {
      $("section div#headers").load("/public/static/header.html");  
      });
  </script>
   <script type="text/javascript">   
    $(document).ready( function() {
    $("#footers").load("/public/static/footer.html");  
    });
  </script>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.css">
  <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Text&display=swap" rel="stylesheet"> 
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet"> 
  <link rel="stylesheet" href="/public/css/member.css">
  <script defer type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script defer src="/public/js/join.js"> </script>
</head>
<body>
  <section>
    <div id="headers"></div>
  </section>

  <section>
    <div class="container">
      <div class="inner">

        <div class="title">
          <h2>Join</h2>
        </div>

        <div class="userInfo">
          <span class="instruction">이메일</span><br>
          <input class="userId" type="text" placeholder="이메일 입력"> 
          <div class="errorMsg" id="idChk" style="display: none;">이메일 형식으로 입력하세요</div>
        </div>

        <div class="userInfo">
          <span class="instruction">비밀번호</span><br>
          <input class="userPw" type="password" placeholder="비밀번호(영문자+숫자+특수문자 조합으로 8자 ~ 20자)"><br>
          <input class="userPwChk" type="password" placeholder="비멀번호 확인"><br>
          <div class="errorMsg" id="pwChk" style="display: none;">비밀번호 규칙에 맞게 입력하세요</div>
        </div> 

        <div class="userInfo">
          <span class="instruction">이름</span><br>
          <input class="userName" type="text" placeholder="이름 입력"><br>
        </div>

        <div class="userInfo">
          <span class="instruction">프로필</span><br>
          <div class="userProfile">
            <div class="preview">
              <img src="/public/images/profile_default.png" alt="기본프로필">
            </div>
            <input class="profileFile" type="file" accept="img/*" style="display: none;"> 
            <button class="selectBt">사진 선택</button>
          </div>
        </div>

        <div class="errorMsg" id="overallChk"><span> </span></div>
        <div class="joinBt">
        <button>회원가입</button> <br>
        </div>
    
      </div>
    </div>
  </section>

  <section>
    <div id="footers"></div>
  </section>
</body>