/* FOOTER */
footer {
  background-color: #212121;
  border-top: 1px solid #333;
}
footer .inner {
  padding: 60px 0;
  display: flex;
}
footer .inner .info {
  margin-right: 120px;
}
footer .inner .info li {
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  padding: 5px;
}
footer .inner .info li:first-child {
  font-family: 'DM Serif Text', serif;
  font-size: 17px;
  padding: 3px;
}
footer .inner .menu {
  margin-right: 120px;
}
footer .inner .menu li {
  font-size: 12px;
  font-weight: 600;
  padding: 5px;
}
footer .inner .menu li a {
  color: #fff;
}
footer .inner .social {
  display: flex;
}
footer .inner .social a {
  margin-right: 20px;
}