/* common */
body {
    font-size: 16px;
	font-weight: 400;
	line-height: 1.4;
	font-family: 'Noto Sans KR', sans-serif;
  }

.container{
    box-sizing: border-box;
    text-align: center; 
    justify-content: center;
    display: block; 
  }

/* read */
.Back{
    display: flex;
    justify-content: flex-start;
    margin-top: 200px;
    margin-left: 100px;   
    width:100px;
    height:42px;
    background-color: black;
    color:#fff;
    border : 2px solid #fff;
    border-radius: 10px; 
    justify-content: center;
    align-items: center;
}

.title{
    font-size: 30px;
}

.author{
    margin-left: 600px;
}

.photo{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.image img {
    width : 600px;
}

.content{
    margin-top: 50px;
    text-align: center;
}



#modify,
#delete {
    margin-top: 50px;
    justify-content: center;
    text-align: center;
    background: #333;
    color: white;
    width :50px;
    height:30px;
}

/* 좋아요 버튼 */
 .like-content{
    height:20px;
    margin: 2px auto;
    font-size: 13px;
    text-align: center;
    position: absolute;
    margin-left: 70px;
    margin-top: -35px;
}

.like-content .btn-secondary{
    display: block;
    background-color: white;
    border-color: transparent;
    margin: 30px auto;
}

.like-content .btn-secondary.done {
    color: red;
    text-shadow: 0;
  }

.like-content .btn-secondary img{
    display: block;
    width: 30px;
    height:30px;
}

.like-content .btn-secondary:hover{
    transform:translateY(-3px);
}

.like-content .btn-secondary .fa{
    margin-left: 5px;
} 

#result{
    position: absolute;
    margin-left: 110px;
}

/* 댓글 */

#comments{
margin: 40px;
margin-left: 50px;
border: 2px solid rgba(232,230,230,0.99);
position: relative;
}

#comment-head{
    position: absolute;
    text-align: left;
    margin-left: 10px;
    margin-top: -25px;
}

#comments .comment-wrapper{
    margin:30px;
    border-bottom : 2px solid rgba(232,230,230,0.99);
    text-align: center;
}

#comments label .like-content .btn-secondary {
    display: block;
    position: absolute;
    right: 3%;
    top: -5%;
}
#comments  #new_comment{
    border: 2px solid rgba(232,230,230,0.99);
    width: 760px;
}

 textarea {
    width: 60%;
    height: 100px;
    padding: 10px;
    resize: none;
  }
  
 .comments label {
    display: block;
    margin: 30px;
    font-weight: bold;
    color: #666;
    font-size: 20px;
    text-align: left;
    border-bottom: 2px solid rgba(232,230,230,0.99);
  }

  .comment-row{
    border-bottom: 2px solid rgba(232,230,230,0.99);
  }

  hr{
    width:1200px;
    border-top : 2px solid rgba(232,230,230,0.99);
}

.comment-row .submit_btn{
    margin-top: 50px;
    margin-left: 30px;
    margin-bottom: 20px;
    justify-content: center;
    text-align: center;
    background: #333;
    color: white;
    width :50px;
    height:30px;
}

.more_btn {
    background-color:transparent;
    border:0px transparent solid;
    font-size: 15px;
    width:1000px;
    height: 30px;
}

.comment-row0 {
    margin-top: 10px;
}

.comment-row0  .comment-memberName{
    display: flex;
    justify-content: flex-start;
    float: left;
    text-align: left;
    margin-left: 50px;
    margin-bottom: 10px;
    font-weight: 700;
}

.comment-row0  .comment-date{
    margin-bottom: 10px;
    text-align: left;
    margin-left: 100px;
    margin-top: 20px;
    color: #747474;
}

.comment-row0 .comment-content{
    display: flex;
    white-space: pre-line;
    margin-bottom: 30px;
    margin-left: 50px;
    margin-top: 20px;
    text-align: left;
    width: 800px;
}

.deletecomment{
    display: flex;
    float: right;
    margin-right: 20px;
    margin-bottom: 5px;
    margin-top:-40px;
    justify-content: center;
    text-align: center;
    background: #333;
    color: white;
    width :50px;
    height:30px;
}
.modifycomment {
    display: flex;
    float: right;
    margin-right: 80px;
    margin-bottom: 5px;
    margin-top:-40px;
    justify-content: center;
    text-align: center;
    background: #333;
    color: white;
    width :50px;
    height:30px;
}

 .modal {
  display: none;
  position:relative;
  width:100%;
  height:300px;
  z-index:1;
}


.modal .modalComment {
  width:500px;
  /* margin: -300px auto; */
  padding:20px 10px;
  background:#fff;
  border:3px solid #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 33%;

}

.modal .modalComment .commentModifytitle{
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 700;
}

#new-comment2{
    width: 390px;
    margin-top:15px;
}

.modal .modalBtn {
	margin-top: 25px;
	margin-left: 200px;
	display: flex;
}

.modal .modalBtn button {
  display:inline-block;
  width:100px;
	height: 40px;
    background: #333;
    color: white;
	font-size: 14px;
	font-weight: 700;
	margin-left: 6px;
}

.modal .modal_layer {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0, 0, 0, 0.5);
  z-index:-1;
} 

.modal .modalComment .modalComment-row textarea{
    width:300px;
}