body{
    height: 100%;
    font-size: 16px;
	font-weight: 400;
	line-height: 1.4;
	font-family: 'Noto Sans KR', sans-serif;
}

.container{
    margin-top: 140px;
    box-sizing: content-box;
    width: 1100px;
    position: relative;
    text-align: center; 
    justify-content: center;
    display: block; 
    top:18%;
    left:50%;
    transform: translate(-50%, 0%);
    margin-bottom: 100px;
}

.container .inner{
    width: 1100px; 
    border: 2px solid rgba(232,230,230,0.99);
    margin: 0 auto;
    margin-top: -100px;
    margin-bottom: 300px;
}

.container .inner form{
 
}

.container .inner h2{
    font-size: 30px;
    margin: 30px;
    text-align: center;
    justify-content: center;
    
}

.container .inner .form-group{
    margin: 20px;
}

.container .form-group input{
    width: 700px;
    height: 30px;
    border:2px solid white;
    font-size: 15px;
    font-weight: 800;
  
}

#input_imgs{
    display: none;
}

.form-control{
    margin: 0 auto; 
    width: 459px; 
}

.container .form-group textarea{
    resize: none;
    width: 700px;
    height: 300px;
    margin-top: 30px;
    border:2px solid white;
    font-size: 15px;
    /* position: absolute; */
    text-align: center;
}
.container .photo img{
    width:900px;
    margin-left: 100px;
}

hr{
    width:1100px;
    border-top : 2px solid rgba(232,230,230,0.99);
}

.btn{
    margin-bottom: 20px;
    background-color: black;
    color: white;
    width: 100px;
    height:40px;
}
.input-file-button{

}
.input-file-button label img{
    display: block;
    margin: auto;
    height: 50px;
    margin-bottom: 30px;
  }
