<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script defer src = "/public/js/myblogDetail.js"></script>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- favicon -->
<link rel="icon" href="/favicon.png" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">

<!-- font -->
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
     
<link rel = "stylesheet" href="/public/css/storyDetail.css">

<title>Palette.</title>

   <!-- header jquery -->
   <script type="text/javascript">   
    $(document).ready( function() {
    $("#headers").load("/public/static/header.html");  
    });
  </script>
  <!-- footer jquery -->
  <script type="text/javascript">   
    $(document).ready( function() {
    $("#footers").load("/public/static/footer.html");  
    });
  </script>

<!-- 리스트 출력  -->
<script type="text/javascript">   
   $(document).ready( function() {
    view();
    page();
    view02();
  });
</script>

<!-- 페이지 이동 -->
<script type="text/javascript">
  function fnMyblogDetail(postId){
        sessionStorage.setItem("postId", postId);
        window.location.href = "./read.html";
      }
  </script>

<script type="text/javascript">
  function writepage(){
        window.location.href = "./write.html";
      }
  </script>

      
</head>

<body>
  <!-- header 연결 -->
  <div id="headers"></div>

  <div class="container">
    
    <div class="title" name = "title" id="title">
    
    </div>

      <section class = "posting">
        <div class="card">
          <form id = "frmMyBlogDetail" name="frmMyBlogDetail">
            <input type="hidden" id="page" name="page" value=""/>

            <input type="hidden" id="memberId" name="memberId" value="1"/>
            <input type="hidden" id="memberName" name="memberName" value=""/>
            <input type="hidden" id="postId" name="postId" value=""/>
            <input type="hidden" id="thumbNailFullPath" name="thumbNailFullPath" value=""/>
            <input type="hidden" id="title" name="title" value=""/>
            <input type="hidden" id="likesCount" name="likesCount" value=""/>
            
          <!-- <a href = "/frontend/Board/read.html"> -->
        
            <div name="card-image" class="card-image">
              <figure class="image">
                <!-- <img src="" alt=""></figure> -->
            </div>
          <!-- </a> -->

        </form>
        </div>
      </section>

    

    <!-- 버튼 --> 
    <input type="button" value="Wirte" name="wirte" class = "btn" onclick="writepage();"> 
  </div> 

  <div class="paginate sub_last" ></div> 

    <!-- footer 연결 -->
    <div id="footers"></div>
     
</body>
</html>