<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script defer src = "/public/js/myblog.js"></script>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- favicon -->
<link rel="icon" href="/favicon.png" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css"> 
<!-- font -->
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
<!-- 공통 css -->
<link rel = "stylesheet" href="/public/css/story.css">

<title>MYBLOG</title>

  <!-- header jquery -->
  <script type="text/javascript">   
    $(document).ready( function() {
    $("#headers").load("/public/static/header.html");  
    });
  </script>
  <!-- footer jquery -->
  <script type="text/javascript">   
    $(document).ready( function() {
    $("#footers").load("/public/static/footer.html");  
    });
  </script>

<!-- 리스트 출력  -->
<script type="text/javascript">   
  $(document).ready( function() {
    view();
    page();
  });
</script>

<!-- 페이지 이동 -->
<script type="text/javascript">
function fnMyblogDetail(postGroupId){
      // window.open('myblogDetail.html','fnMyblogDetail');
      // document.frmMyBlogGroup.target="";
      // document.frmMyBlogGroup.action = "http://ec2-3-35-87-7.ap-northeast-2.compute.amazonaws.com:8080/postgroup/2";
      // document.frmMyBlogGroup.submit();
      sessionStorage.setItem("postGroupId", postGroupId);
      window.location.href = "./myblogDetail.html";
    }
</script>

<!-- 수정페이지 -->
<script type="text/javascript">
  function modifyPost(postGroupId){
        sessionStorage.setItem("postGroupId", postGroupId);
        window.location.href = "./groupUpdate.html";
      }
  </script>



<!-- ajax 요청 (글삭제) -->
<script type="text/javascript">   
  
  //debugger;     
  function deletePost(postGroupId) {
    let token = sessionStorage.getItem("token"); 
    sessionStorage.setItem("postGroupId", postGroupId);

    $.ajax({
      url: 'http://ec2-3-35-87-7.ap-northeast-2.compute.amazonaws.com:8080/api/postgroup/'+ postGroupId, // 개발시 변경 부분  
      type: 'DELETE',  // get, post
  
      success: function(testData) { // 서버로부터 성공적으로 응답이 온경우
          
        if (testData != null) { 

          //alert('내용  ㅇㅇ' +  testData.postGroupResponses[0].memberName);
          console.log(testData);

        } else {  
          //testData.postGroupResponses[0].postGroupId.value();

         // alert('내용 xx' + testData.postGroupResponses[0].postGroupId.val());
        }
      },

      // Ajax 통신 에러, 응답 코드가 200이 아닌경우, dataType이 다른경우 
      error: function(request, status, error) { // callback 함수
        //alert('ajax야 힘내자'+ request +status + error);
        console.log('ajax야 힘내자'+ request +status + error);
      },

beforeSend: function (xhr) {
  xhr.setRequestHeader("Authorization","Bearer " + token);
}
    });
  }

</script>


</head>

<body>
<!-- header 연결 -->
<div id="headers"></div>

<div class="container">
  <div class="user_id" name = "member_id" id="member_id">
    @아이디
  </div>

<div class="container">
  <section class = "posting">

    <div class="card">
      <form id="frmMyStoryGroup" name="frmMyStoryGroup">
        <!-- hidden 값으로 미리 설정하고 계속 개발 (하드코딩) -->
        <input type="hidden" id="filter" name="filter" value="member"/>
        <input type="hidden" id="condition" name="condition" value=""/>
        <!-- <input type="hidden" id="postGroupId" name="postGroupId" value="1"/> -->
        <input type="hidden" id="memberId" name="memberId" value=1/>
        <!-- 1. parameter로 주고받기 2.jstl로 주고받기 3. session으로 주고받기★-->
        <!-- <input type="hidden" id="memberId" name="memberId" value="${param.memberID}"/> -->
        <!-- <input type="hidden" id="memberId" name="memberId" value="<C:out vlaue='{list.memberID}'/>"/> -->

        <input type="hidden" id="memberName" name="memberName" value=""/>
        <input type="hidden" id="title" name="title" value=""/>
        <input type="hidden" id="thumbNailUrl" name="thumbNailUrl" value=""/>
        <input type="hidden" id="period" name="period" value=""/>
        <input type="hidden" id="period.startDate" name="period.startDate" value=""/>
        <input type="hidden" id="period.endDate" name="period.endDate" value=""/>
        <input type="hidden" id="region" name="region" value=""/>

        <div class = 'fnMyblogDetail'>
          <div id="card-image" name="card-image" class="card-image">
            <figure class="image"><img src="https://w.namu.la/s/f4eeb4d000580ed54510801ede6bf71d9726acbca886db89a0c6bb43bab73391af5ff23873c660752e3604c47f5eac3f0593f2d3e5e263cc3e005ce2ee398fb7fe7214c9151bd30ce40f385fbe671b4ac2ee2be5c41c675d6b1621eac84ca63c" alt=""></figure>
          </div>
  
          <div class="card-content" id="card-content" name="card-content">
            <div class="content">
              <h5 name="title">롯데월드</h5>
              <h5 name="period">21.11.04~21.11.04</h5>
              <h5 name="location">서울</h5>   
              <p class="page_meta"><span class="author">By 작성자</span></p>  
            </div>
          </div>
        </div>

        <input type="button" class="modify" id="modify" style="display: none;" value="수정" onclick="modifyPost(postGroupId)" >
        <input type="button" class="delete" id="delete" style="display: none;" value="삭제" onclick="deletePost(postGroupId)">

      </form>
    </div>

  </section>
  </div>

  <!-- 버튼 --> 
  <button class="btn">추가하기</button> 
    
  <!-- 팝업 될 레이어 --> 
  <div id="t_space">
  <div class="modal"> 
      <div class="modal-content"> 
          <span class="close-button">&times;</span> 
          <h1 class="title"> 여행 일정 </h1> 
        
        <!-- <form name = "frmaddmyblog" id = "frmaddmyblog" method="POST" action = "http://ec2-3-35-87-7.ap-northeast-2.compute.amazonaws.com:8080/postgroup" enctype = "multipart/form-data">  -->
          <form name = "frmaddmyblog" id = "frmaddmyblog" enctype = "multipart/form-data"> 
           <!-- <input type="hidden" id="memberId" name="memberId" value="${param.memberID}"/> -->
           <input type="hidden" id="postGroupId" name="postGroupId" value= />
           <input type="hidden" id="memberName" name="memberName" value=""/>
           <input type="hidden" id="memberId" name="memberId" value="" />
           
            <label for="date">DATE</label> 
            <!-- required="required" 필수 입력 필드를 지정하는 속성 -->
            <input type="date" id = "startDate" name="startDate" placeholder="여행 시작 날짜" required="required"> 
            <input type="date" id = "endDate" name="endDate" placeholder="여행 종료 날짜" required="required"> 
            <label>제목</label> 
            <input type="text" id = "title" name="title" placeholder="제목을 입력하세요" required="required">
            <label>지역</label> 
            <!-- <form> -->
                <select name="region" id = "region" name = "region" required="required" >
                  <option value="none">=== 선택 ===</option>
                  <option value="서울">서울</option>
                  <option value="경기">경기</option>
                  <option value="인천">인천</option>
                  <option value="부산">부산</option>
                  <option value="대전">대전</option>
                  <option value="대구">대구</option>
                  <option value="울산">울산</option>
                  <option value="광주">광주</option>
                  <option value="제주">제주</option>
                </select>
            <!-- </form> -->
            <label>썸네일</label> 
            <input type = "file" id = "Thumbnail" name = "Thumbnail" accept="image/*" required="required">
            
            <input type="button" id="cancel" value="취소"> 
            <!-- <input type="submit" id="submit_btn" value="저장" onclick="add()">  -->
            <input type="button" id="submit_btn" value="저장" onclick="add()">
            <input type="reset" id="reset" value="초기화">               
          </form> 
      </div> 
  </div>
</div>
</div>

<div class="paginate sub_last" ></div> 
     <!-- footer 연결 -->
     <div id="footers"></div>
     
</body>
</html>
