<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script defer src = "/public/js/read.js"></script>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script defer type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<!-- favicon -->
<link rel="icon" href="/favicon.png" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
    
<!-- font -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<link rel = "stylesheet" href="/public/css/read.css">

<title>Palette.</title>

<!-- header jquery -->
<script type="text/javascript">   
  $(document).ready( function() {
    $("#headers").load("/public/static/header.html");  
  });
</script>

<!-- footer jquery -->
<script type="text/javascript">   
  $(document).ready( function() {
    $("#footers").load("/public/static/footer.html");  
  });
</script>

<!-- 리스트 출력  -->
<script type="text/javascript">   
  $(document).ready( function() {
    view();
    like_btn();
  });
</script>

</head>
<body>

<!-- header 연결 -->
<div id="headers"></div>

<div class="container">
  <div class="inner">

    <form id = "frmpost" name = "frmpost">

      <input type="hidden" id="memberId" name="memberId" value=""/>
      <input type="hidden" id="memberName" name="memberName" value=""/>
      <input type="hidden" id="postId" name="postId" value=""/>
      <input type="hidden" id="postTitle" name="postTitle" value=""/>
      <input type="hidden" id="postContent" name="postContent" value=""/>
      <input type="hidden" id="likes" name="likes" value=""/>
      <input type="hidden" id="images" name="images" value=""/>
      <input type="hidden" id="comments_memberId" name="comments_memberId" value=""/>
      <input type="hidden" id="comments_memberName" name="comments_memberName" value=""/>
      <input type="hidden" id="comments_commentId" name="comments_commentId" value=""/>
      <input type="hidden" id="comments_commentContent" name="comments_commentContent" value=""/>
      <input type="hidden" id="comments_createDate" name="comments_createDate" value=""/>
            
      <input type="button" class = "Back" value="BACK" onClick="history.go(-1)"> 
      <div class="title" id = "title" name = "title"></div>
      <div class="author" id = "author" name = "author"></div>
      <div class="photo" id = "photo" name = "photo">
        <figure class="image">
            <!-- <img src="" alt=""> -->
        </figure>
      </div>
      <div class="content" id = "content" name = "content"></div>

    </form>
    
    <input type="button" id="modify" value="수정" onclick="modifyPost()">
    <input type="button" id="delete" value="삭제"  onclick="deletePost()">

    <!-- 좋아요 버튼-->  
    <div class = "like-content">
      <button class = "btn-secondary like-review" >
        <i class = "far fa-heart" aria-hidden = "true"></i> 
        <!-- aria-hidden 특정 상황에만 보여진다?? -->
        <span class="material-icons">
          favorite_border
        </span>
      </button>
    </div>

    <div id='result'>0</div>

    <!-- 댓글 -->
    <div id = "comments">
      <div class="comment-wrapper">

        <div id = "comment-head" class = "comment-row">
          <span id = "comments-count"></span> Comment(s)
        </div>
    
      </div>

      <div class = "comment-row">
        <textarea id = "new-comment" name = "new_comment" row=5 maxlength="120" placeholder="New Comment(120자 이내)"></textarea>
        <input type="button" id="submit_btn" class = "submit_btn" value="등록" onclick="submitComment()"/>
      </div>              
           
      <div class = "comment-row0"></div>

    </div>
  </div>
</div>

<!-- modal -->
<div class="modal" id="commentModify">
  <div class="modalComment">
      
    <div class = "modalComment-row">
      <div class = "commentModifytitle">댓글 수정</div>
      <textarea id = "new-comment2" name = "new_comment" row=5 placeholder="New Comment"></textarea>
    </div> 

    <div class="modalBtn">
      <button type="button" class="modalModifyBtn" onclick = "modifyComment()">수정</button>
      <button type="button" class="modalCloseBtn" onclick="closemodifyComment()">닫기</button>
    </div>

  </div>
   
  <div class="modal_layer"></div>

</div>

<!-- footer 연결 -->
<div id="footers"></div>
    
</body>
</html>