<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
   
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- favicon -->
<link rel="icon" href="/favicon.png" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">

<!-- font -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">

<!-- css -->
<link rel = "stylesheet" href="/public/css/storyDetail.css">

<title>STORY</title>

   <!-- header jquery -->
   <script type="text/javascript">   
    $(document).ready( function() {
    $("#headers").load("/public/static/header.html");  
    });
  </script>
  <!-- footer jquery -->
  <script type="text/javascript">   
    $(document).ready( function() {
    $("#footers").load("/public/static/footer.html");  
    });
  </script>

<!-- 리스트 출력  -->
<script type="text/javascript">   
  $(document).ready( function() {
   view();
   page();
 });
</script>

<!-- 페이지 이동 -->
<script type="text/javascript">
  function fnMyblogDetail(postId){
        sessionStorage.setItem("postId", postId);
        // sessionStorage.setItem("Id", memberId);
        window.location.href = "./read.html";
      }
  </script>
  
<!-- ajax 요청 -->
<script type="text/javascript">  

function view(){
 var frm = $('#frmStory');
 var page = $('#page',frm).val();

 let postGroupId = sessionStorage.getItem("postGroupId");

 var params = '';
 var msg = '';

 $.ajax({
       //url: 'http://ec2-3-35-87-7.ap-northeast-2.compute.amazonaws.com:8080/postgroup/{id}', // 개발시 변경 부분
       url: 'http://ec2-3-35-87-7.ap-northeast-2.compute.amazonaws.com:8080/api/postgroup/'+ postGroupId, // 개발시 변경 부분
       contentType: 'application/json; charset=UTF-8',
       type: 'get',  // get, post
       cache: false, // 응답 결과 임시 저장 취소
       async: true,  // true: 비동기 통신
       dataType: 'json', // 응답 형식: json, html, xml...
       data: params,      // 데이터

       success: function(testData) { // 서버로부터 성공적으로 응답이 온경우
           
           if (testData.storyLists.length > 0) { 
 
             //alert('내용  ㅇㅇ' +  testData.postGroupResponses[0].memberName);
             
             //div 초기화
             $('#card-image').empty();       
 
             // 추후에 var -> LIST 형식으로 변경 필요
             // [0] -> [i] 변경해서 테스트해볼 것
             // var responsList;
             // var memberName;
             // var postGroupId;

             for(i=0; i < testData.storyLists.length; i++ ){
 
               // memberName += testData.postGroupResponses[i].memberName;
               // postGroupId += testData.postGroupResponses[i].postGroupId;
 
               //$("#card-image").append("<div><figure class='image'><img src=' " + testData.storyLists[i].thumbNailFullPath + " '/></figure></div>");
               msg += '<div class="inner">'
               msg += '<div onclick="fnMyblogDetail(this.id);" id="' + testData.storyLists[i].postId + '">'
               msg += '<figure class="image">'
               msg += '<img src='  
               msg +=  testData.storyLists[i].thumbNailFullPath 
               msg += ' /></figure></div></div>';
               console.log(testData.storyLists[i].postId);
        }
               $('.card-image').html(msg);
 
           } else {  
            
              $('.card-image').empty();         
              $('.card-image').append("<div class = 'notPost'>게시물이 존재하지 않습니다</div>");
            
           }
         },
 
         // Ajax 통신 에러, 응답 코드가 200이 아닌경우, dataType이 다른경우 
         error: function(request, status, error) { // callback 함수
           alert('ajax야 힘내자'+ request +status + error);
         }
       });
 }


</script>
<!-- 페이징 ajax -->
<script type="text/javascript">   

  function view01(j) {    
    var frm = $('#frmMyStoryGroup');
    let postGroupId = sessionStorage.getItem("postGroupId");
  
    $.ajax({
      url: 'http://ec2-3-35-87-7.ap-northeast-2.compute.amazonaws.com:8080/api/postgroup/'+ postGroupId+'?page='+j, // 개발시 변경 부분
      contentType: 'application/json; charset=UTF-8',
      type: 'get',  // get, post
      cache: false, // 응답 결과 임시 저장 취소
      async: true,  // true: 비동기 통신
      dataType: 'json', // 응답 형식: json, html, xml...
      data: '',      // 데이터
  
      success: function(testData) { // 서버로부터 성공적으로 응답이 온경우
            
        if (testData.storyLists.length > 0) { 
  
          //div 초기화 
          $('#card-image').empty();       
  
          for(i=0; i < testData.storyLists.length; i++ ){
  
  
          }   
               
        } else {  
          testData.storyLists[0].postGroupId.value();
  
          alert('내용 xx' + testData.storyLists[0].postGroupId.val());
          }
        },
  
        // Ajax 통신 에러, 응답 코드가 200이 아닌경우, dataType이 다른경우 
        error: function(request, status, error) { // callback 함수
          console.log('ajax야 힘내자'+ request +status + error);
        }
    });
  }
</script>

<!-- 페이징 ajax -->
<script type="text/javascript">  
  function page(){
  
    var pageCount;	
    let postGroupId = sessionStorage.getItem("postGroupId");

      $.ajax({
        url: 'http://ec2-3-35-87-7.ap-northeast-2.compute.amazonaws.com:8080/api/page/post?postGroupId='+postGroupId,   
        type: 'GET',
        dataType: 'json',
        success: function(data){
          console.log("data: "+data)
          pageCount = data.data;
          console.log(pageCount);
  
          var html = "";
            for(var i=1; i<=pageCount; i++){			
              console.log(i);
              html += "<input type="+"'button" +"' class = paginate_num  value = " + i+" onclick="+ "view01("+i+");>";
            }

            $(".paginate").html(html);   

        }
       });

           return pageCount;
      }
 </script>  
</head>
<body>
  <!-- header 연결 -->
  <div id="headers"></div>

    <div class="container">
      <section class = "posting">

        <div class="card">
          <form id="frmStory" name="frmStory">
            <input type="hidden" id="page" name="page" value=""/>

            <input type="hidden" id="memberId" name="memberId" value=""/>
            <input type="hidden" id="memberName" name="memberName" value=""/>
            <input type="hidden" id="postId" name="postId" value=""/>
            <input type="hidden" id="thumbNailFullPath" name="thumbNailFullPath" value=""/>
            <input type="hidden" id="title" name="title" value=""/>
            <input type="hidden" id="likesCount" name="likesCount" value=""/>
            
            <!-- <a href = "/frontend/Board/read.html"> -->

              <div id="card-image" name="card-image" class="card-image">
                <figure class="image"><img src="https://w.namu.la/s/f4eeb4d000580ed54510801ede6bf71d9726acbca886db89a0c6bb43bab73391af5ff23873c660752e3604c47f5eac3f0593f2d3e5e263cc3e005ce2ee398fb7fe7214c9151bd30ce40f385fbe671b4ac2ee2be5c41c675d6b1621eac84ca63c" alt=""></figure>
              </div>

            <!-- </a> -->

          </form>

        </div>
      
      </section>
    </div>

    <div class="paginate sub_last" ></div> 
    
<!-- footer 연결 -->
  <div id="footers"></div>

</body>
</html>