<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script defer src = "/public/js/story.js"></script>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>

<!-- favicon -->
<link rel="icon" href="/favicon.png" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
<!-- font -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<!-- css -->
<link rel = "stylesheet" href="/public/css/story.css">

<title>Palette.</title>

<!-- header jquery -->
<script type="text/javascript">   
  $(document).ready( function() {
    $("#headers").load("/public/static/header.html");  
  });
</script>

<!-- footer jquery -->
<script type="text/javascript">   
  $(document).ready( function() {
    $("#footers").load("/public/static/footer.html");  
  });
</script>

<!-- 리스트 출력  -->
<script type="text/javascript">   
  $(document).ready( function() {
    view();
    page();
  });
</script>

<!-- 페이지 이동 -->
<script type="text/javascript">   
  function fnMyblogDetail(postGroupId){
    sessionStorage.setItem("postGroupId", postGroupId);
    window.location.href = "./storyDetail.html";
  }
</script>

</head>
<body>
<!-- header 연결 -->
<div id="headers"></div>

<div class="container">

  <div class="story" name = "story" id="story">
    STORY
  </div>
    
  <section class = "posting">

    <div class="card">
      <form id="frmMyStoryGroup" name="frmMyStoryGroup">
        <!-- hidden 값으로 미리 설정하고 계속 개발 (하드코딩) -->
        <input type="hidden" id="filter" name="filter" value="member"/>
        <input type="hidden" id="condition" name="condition" value=""/>
        <!-- <input type="hidden" id="postGroupId" name="postGroupId" value="1"/> -->
        <input type="hidden" id="memberName" name="memberName" value=""/>
        <input type="hidden" id="title" name="title" value=""/>
        <input type="hidden" id="thumbNailUrl" name="thumbNailUrl" value=""/>
        <input type="hidden" id="period" name="period" value=""/>
        <input type="hidden" id="period.startDate" name="period.startDate" value=""/>
        <input type="hidden" id="period.endDate" name="period.endDate" value=""/>
        <input type="hidden" id="region" name="region" value=""/>

        <div class = 'fnMyblogDetail'>
          <div id="card-image" name="card-image" class="card-image">
            <figure class="image">
              <!-- <img src="" alt="">-->
            </figure> 
          </div>
  
          <div class="card-content" id="card-content" name="card-content">
            <div class="content">
              <h5 name="title"></h5>
              <h5 name="period"></h5>
              <h5 name="location"></h5>   
              <p class="page_meta"><span class="author"></span></p>  
            </div>
          </div>

        </div>

      </form>
    </div>

  </section>
</div>

<div class="paginate sub_last" ></div> 

<!-- footer 연결 -->
<div id="footers"></div>
     
</body>
</html>
